# Ignore the .env file (contains sensitive information)
.env

# Ignore the node_modules directory (dependencies are installed locally)
node_modules/

# Ignore npm debug logs
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore build/output directories
dist/
build/